<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>

<body>
    <% const greet="Hello hai" %>
        <%= greet %>ss
            <h1>Hallo ...</h1>
            <form action="/add-task" method="POST">
                <input type="text" name="taskName" />
                <button type="submit"> Submit</button>
            </form>
            <h2>Ini task aku ya :</h2>
            <ul>
                <% tasks.forEach(task=> { %>
                    <li>
                        <%=task %>
                    </li>
                    <% }); %>
            </ul>
            <ul>
                <li>makan</li>
                <li>minum</li>
            </ul>
            <!-- <% tasks %> -->
</body>

</html>